## Classification based on static features

In [1]:
import pickle
import pandas as pd

### Reading data

In [2]:
data_path = "more_infomation_user_data_all.pickle"
with open(data_path, 'rb') as f:
    data = pickle.load(f)

In [3]:
import pandas as pd

df_cc_nodes_more_info_new = pd.DataFrame(data).transpose()

In [4]:
data_path = "user_data_all.pickle"
with open(data_path, 'rb') as f:
    data = pickle.load(f)

In [5]:
list_index = list(df_cc_nodes_more_info_new.index)
print(len(data.keys()))
for item in list_index:
    if item in data:
        del data[item]
print(len(data.keys()))
df_found_users_id_to_info = pd.DataFrame(data).transpose()

197940
170415

### Get male users ids

In [6]:
import numpy as np
male_id = list(df_cc_nodes_more_info_new[df_cc_nodes_more_info_new['sex'] == 2]['id'])
male_id += list(df_found_users_id_to_info[df_found_users_id_to_info['sex'] == 2]['id'])

male_id = np.unique(male_id)

### Find male users between downloads

In [7]:
df_cc_nodes_more_info_new["target"] = df_cc_nodes_more_info_new.apply(lambda x: x.id in male_id, axis=1)
df_found_users_id_to_info["target"] = df_found_users_id_to_info.apply(lambda x: x.id in male_id, axis=1)
print(df_cc_nodes_more_info_new["target"])

144506883     True
295010307     True
279117834     True
5111819       True
65548         True
             ...
139952117    False
142704631    False
34340858     False
154337275    False
45481981     False
Name: target, Length: 27525, dtype: bool

### Concatenating data

In [8]:
IS_NOT_KNOWN = -100

for cname in df_cc_nodes_more_info_new.columns:
    if cname not in df_found_users_id_to_info.columns and cname != "target":
        df_found_users_id_to_info[cname] = IS_NOT_KNOWN

In [9]:
column_match = {"FirstName" : "first_name", "LastName": "last_name", "Name": "domain", "ScreenName": "screen_name",
               "Status": "status", "Country": "country_title", "City": "city_title", "Site": "site",
               'IsVerified': "verified", '_Sex': "sex", 'Birthday': "bdate",
               'Universities': "university_name", 'LastSeen': "last_seen_time", 'Relatives':"relatives",
               'GroupsCount': "counters_groups", 'PublicPagesCount': "counters_subscriptions",
               'SubscribersCount': "counters_followers", 'PhotosCount':"counters_photos", 'VideosCount':"counters_videos",
               'AudiosCount':"counters_audios", 'target':"target", "id":"id"}


columns_to_drop = ['Sntag', 'WorkflowId', 'CrawlId', 'LoadDate', 'ID', 'Url', 'IsDeactivated', 'IsWallSetCommentEnabled', 'partialBirthDate',
                            'IsWallSetPostEnabled', 'FriendsCount', 'NotesCount', 'IsWallGetPostEnabled',
                            'IsPrivateMessageEnabled', 'UserPicURL', 'Groups', 'Schools', "JSON_occupation"]
columns_to_drop_not = ["Jobs", "Relation", "ExternalProfiles"]

Everything:
df_cc_nodes_more_info
df_cc_nodes_more_info_new

In [10]:
print(len(df_found_users_id_to_info))
print(len(df_cc_nodes_more_info_new))
concated_df = pd.concat([df_found_users_id_to_info, df_cc_nodes_more_info_new], sort=False)

170415
27525

In [11]:
concated_df.domain = concated_df.apply(lambda x: np.nan if x.domain != IS_NOT_KNOWN and str(x.domain).startswith('id') else x.domain, axis=1)

In [12]:
concated_df

,first_name,last_name,id,country,sex,university_name,target,can_access_closed,is_closed,screen_name,...,status_audio_url,status_audio_date,status_audio_main_artists,status_audio_short_videos_allowed,status_audio_stories_allowed,status_audio_stories_cover_allowed,status_audio_lyrics_id,status_audio_genre_id,status_audio_subtitle,maiden_name
42597,Alyona,Pustovalova,42597,Russia,1,NaN,False,-100,-100,-100,...,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100
440,Anastasia,Balashova,440,Russia,1,ГУУ,False,-100,-100,-100,...,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100
19244,Ksenya,Akhumyan,19244,Russia,1,ВГИК,False,-100,-100,-100,...,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100
20817,Champagne,Charlie,20817,NaN,1,NaN,False,-100,-100,-100,...,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100
20898,Nadezhda,Mikhalaki,20898,Russia,1,NaN,False,-100,-100,-100,...,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139952117,Lena,Leonova,139952117,NaN,1,,False,True,False,id139952117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
142704631,Vika,Krot,142704631,NaN,1,,False,True,False,vikagrr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
34340858,Rimma,Oraztaeva,34340858,NaN,1,NaN,False,False,True,id34340858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
154337275,Evgenia,Yurchenko,154337275,NaN,1,ДВФУ,False,True,False,id154337275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
45481981,Elena,Yarenchuk,45481981,NaN,1,NaN,False,False,True,e.yarenchuk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [13]:
concated_df[concated_df == IS_NOT_KNOWN] = np.nan
concated_df.fillna(IS_NOT_KNOWN, inplace=True)

In [14]:
STRING_INT = -10
concated= concated_df
concated = concated.apply(pd.to_numeric, errors='coerce').fillna(STRING_INT)

In [15]:
concated.reset_index(inplace=True)
concated = concated.drop_duplicates(subset=['id', 'has_photo', 'verified', 'counters_photos'], keep='last').set_index('id')

In [33]:
drop_columns = ["target", "sex"]

### Finding important features

In [34]:
from sklearn import tree
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
clf = tree.DecisionTreeClassifier(class_weight = "balanced")
train_data = np.float32(np.array(concated.drop(drop_columns, axis=1)))
train_data[np.logical_not(np.isfinite(train_data))] = IS_NOT_KNOWN
clf = clf.fit(train_data, concated.target)

In [35]:
importance = sorted(list(zip(concated.drop(drop_columns, axis=1).columns, clf.feature_importances_)), key=lambda x: x[1])
print("Droped columns:", drop_columns)
train_data = np.float32(np.array(concated.drop(drop_columns, axis=1).reset_index()))
train_data[np.logical_not(np.isfinite(train_data))] = IS_NOT_KNOWN

Droped columns: ['target', 'sex']

In [37]:
print("Important columns:", set(concated_df.columns) - set(drop_columns))

Important columns: {'twitter', 'status_audio_subtitle', 'counters_user_photos', 'status_audio_short_videos_allowed', 'id', 'livejournal', 'status_audio_artist', 'status_audio_id', 'country', 'counters_audios', 'facebook', 'movies', 'occupation_id', 'personal_religion_id', 'military', 'skype', 'education_form', 'last_name', 'counters_clips', 'country_id', 'maiden_name', 'relation_partner_last_name', 'status_audio_title', 'games', 'books', 'city_id', 'relation_partner_id', 'status_audio_genre_id', 'domain', 'counters_albums', 'quotes', 'deactivated', 'status_audio_stories_allowed', 'relatives', 'personal_inspired_by', 'country_title', 'status_audio_is_explicit', 'status_audio_track_code', 'status_audio_main_artists', 'tv', 'counters_photos', 'personal_alcohol', 'occupation_name', 'counters_videos', 'counters_pages', 'personal_langs', 'has_photo', 'personal_smoking', 'trending', 'has_mobile', 'personal_people_main', 'counters_posts', 'status_audio_duration', 'music', 'personal_life_main', 'relation_partner_first_name', 'activities', 'facebook_name', 'faculty', 'about', 'first_name', 'counters_clips_followers', 'nickname', 'city_title', 'status_audio_url', 'interests', 'status', 'status_audio_stories_cover_allowed', 'counters_groups', 'bdate', 'occupation_type', 'personal_religion', 'mobile_phone', 'personal_political', 'status_audio_date', 'status_audio_owner_id', 'relation', 'counters_gifts', 'education_status', 'last_seen_platform', 'university_name', 'home_town', 'last_seen_time', 'counters_articles', 'screen_name', 'schools', 'can_access_closed', 'home_phone', 'status_audio_is_focus_track', 'faculty_name', 'university', 'career', 'is_closed', 'personal', 'site', 'verified', 'counters_followers', 'counters_subscriptions', 'instagram', 'graduation', 'universities', 'status_audio_lyrics_id'}

In [38]:
import numpy as np

In [39]:
target = concated.target
print(target)
print(target.loc[22383])

id
42597        False
440          False
19244        False
20817        False
20898        False
             ...
139952117    False
142704631    False
34340858     False
154337275    False
45481981     False
Name: target, Length: 197940, dtype: bool
False

In [40]:
unique = np.unique(target.index, return_index = True)
unique_indexes = unique[1]
unique_indexing = unique[0]

In [41]:
target = target.values[unique_indexes]

In [42]:
train_data = train_data[unique_indexes]

In [43]:
with open('train_data_all.pickle', 'wb') as f:
    pickle.dump(train_data, f)
with open('train_index_all.pickle', 'wb') as f:
    pickle.dump(unique_indexing, f)
with open('train_target_all.pickle', 'wb') as f:
    pickle.dump(target, f)

### Train test split

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_data, target, test_size = 0.2, 
                                                    stratify = target, random_state = 42)

In [45]:
from sklearn import preprocessing

In [46]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/Users/macbookpro/.local/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1544: RuntimeWarning: overflow encountered in multiply
  sqr = np.multiply(arr, arr, out=arr)

### Classification

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [48]:
models_to_consider = [("LogReg", 
                       LogisticRegression(class_weight = "balanced", max_iter = 1000), 
                       {"solver" : ("lbfgs",),
                        'C':[1, 5, 10]}),
                      ("RandomForestClassifier", 
                       RandomForestClassifier(class_weight = "balanced"), 
                       {"n_estimators":[10, 50, 100]})]

In [49]:
res = dict()
clf_grid = dict()

for (model_name, model, model_params) in models_to_consider:
    print(model_name)
    clf_grid[model_name] = GridSearchCV(model, model_params, cv = 5, scoring = 'roc_auc')
    clf_grid[model_name].fit(X_train, y_train)
    y_pred = clf_grid[model_name].predict(X_test)
    res[model_name] = clf_grid[model_name].score(X_test, y_test)
    print(classification_report(y_test, y_pred))

LogReg
              precision    recall  f1-score   support

       False       0.62      0.72      0.67     21792
        True       0.58      0.47      0.52     17796

    accuracy                           0.61     39588
   macro avg       0.60      0.59      0.59     39588
weighted avg       0.60      0.61      0.60     39588

RandomForestClassifier
              precision    recall  f1-score   support

       False       0.61      0.62      0.61     21792
        True       0.53      0.52      0.53     17796

    accuracy                           0.57     39588
   macro avg       0.57      0.57      0.57     39588
weighted avg       0.57      0.57      0.57     39588

Best results obtaibed by classifier:

In [50]:
res

{'LogReg': 0.6507494452856802, 'RandomForestClassifier': 0.5977735637601416}

### Saving the best model

In [51]:
with open('best_static_model_all.pickle', 'wb') as f:
    pickle.dump({"classifier":clf_grid["LogReg"], "scaler": scaler}, f)